/* Download font 'Rubik' from the internet */
/* If you'd like, you could use your own font. Please go to https://fonts.google.com/ and choose your favourite */
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* This is called CSS Custom Properties */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties */
:root {
  --main-bg-color: linear-gradient(74.79deg, #ff9292 -7.33%, #de5150 90.21%);
  --color-black: #000000;
  --color-white: #ffffff;
  --color-red: #ff4948;
}

/* COMMON PAGE STYLES */
html {
  font-family: "Rubik", sans-serif;
  font-size: 1rem;
  background: var(--main-bg-color);
  background-repeat: no-repeat;
  color: var(--color-black);
}

body {
  width: 100%;
}

#product-section,
#feature-section,
#colour-section,
#boxing-section,
#subscribe-section {
  background: var(--color-white);
  padding: 15% 4%;
  margin-top: -1%;
}

#colour-section {
  padding-top: 8%;
  padding-bottom: 0;
}

#feature-section {
  padding-bottom: 30rem;
}

#boxing-section {
  display: block;
}

#colour-product {
  height: 15rem;
}

#subscribe-section {
  padding: 5% 0 15%;
  position: relative;
}

#red-headphone {
  height: 18rem;
  margin-top: 1rem;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

#hero__text {
  text-transform: uppercase;
  font-size: 1.3rem;
  color: var(--color-white);
  margin-bottom: 0;
  margin-top: 22rem;
}

#hero__heading {
  font-size: 2rem;
  text-transform: uppercase;
  margin-top: 1%;
  color: var(--color-white);
}

#hero__price {
  font-size: 2rem;
  font-weight: 600;
  color: var(--color-white);
  margin-top: 0;
}

#devider {
  height: 2.3rem;
  width: 0.1rem;
  background-color: var(--color-white);
  margin-left: 20%;
  margin-bottom: 10%;
}

#hero__crossed-price {
  font-size: 1.5rem;
  color: var(--color-white);
  opacity: 80%;
  text-decoration: line-through;
  margin-left: 10%;
  margin-top: 0;
}

#hero__button {
  height: 3rem;
  width: 90%;
  color: var(--color-red);
  font-size: 1.3rem;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 1.6rem;
  background-color: var(--color-white);
  border: none;
  position: absolute;
  left: 50%;
  top: 86%;
  transform: translate(-50%);
}

#logo {
  height: 3.3rem;
}

header {
  padding: 5% 4%;
}

#hero-section {
  padding: 5% 4%;
  position: relative;
}

#hero__prices-wrapper {
  display: flex;
  align-items: center;
  margin-top: 0.6rem;
  margin-bottom: 4rem;
}

#head-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#burger-button {
  background: none;
  border: none;
}

#burger-menu {
  height: 1.3rem;
}

#colour__heading,
#product__heading {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 500;
}

#feature__title {
  font-size: 1.6rem;
  margin: 0;
  font-weight: 500;
}

#feature__heading,
#boxing__heading {
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 2.3rem;
}

#feature-icon {
  height: 5.3rem;
  margin-right: 1.3rem;
}

#feature-item {
  display: flex;
  align-items: center;
  margin-bottom: 2.3rem;
}

#feature__text {
  margin-bottom: 0;
  opacity: 60%;
  margin: 0.5rem 0;
  font-weight: 500;
}

#feature__text,
#feature__link {
  font-size: 1rem;
}

#feature__link {
  color: var(--color-red);
  font-weight: 500;
}

#yellow-headphone {
  height: auto;
  max-width: 100%;
  left: 50%;
  position: absolute;
  transform: translate(-50%);
  margin-top: 1rem;
  z-index: 2;
}

#product-section {
  position: relative;
}

#product__heading {
  margin-top: 0;
}

#product__text {
  font-size: 0.8rem;
  text-align: center;
  opacity: 80%;
}

#product-image,
#backpack-image {
  height: 14rem;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

#product-image {
  top: -15%;
  height: auto;
  max-width: 80%;
}

#product-bg {
  height: 13rem;
  width: 13rem;
  margin-top: 3.3rem;
  border-radius: 10%;
  position: relative;
  left: 50%;
  transform: translate(-50%);
}

.product-bg-blue {
  background-color: #e5f1ff;
}

.product-bg-pink {
  background-color: #ffe5ee;
}

.product-bg-green {
  background-color: #e5fffb;
}

#product-bg::after {
  content: "";
  position: absolute;
  width: 2.3rem;
  height: 2.1rem;
  background-color: var(--color-white);
  border-top-right-radius: 50%;
  border-bottom-left-radius: 90%;
  right: 0;
  top: 0;
  z-index: 1;
}

#product-bg::before {
  content: "";
  position: absolute;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  top: -10%;
  right: -8%;
  background-color: inherit;
  background-image: url("/assets/icons/shopping-cart.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1.5rem;
  z-index: 2;
}

#star-icon {
  height: 1.3rem;
}

#star-icon:not(:last-of-type) {
  padding-right: 0.6rem;
}

#rating-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 1.3rem;
}

#price-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
}

#product-name,
#product-price {
  font-size: 1.3rem;
  margin: 0;
}

#product-price,
#product-rating {
  font-weight: 600;
}

#product-rating {
  font-size: 1rem;
}

@media screen and (min-width: 400px) {
  #boxing-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

#boxing__heading {
  font-weight: 700;
  margin-top: 16rem;
}

#boxing__list {
  padding-top: 1rem;
  list-style: none;
  padding-left: 5%;
}

#backpack-image {
  height: 14rem;
}

#boxing__list-item {
  font-size: 1.1rem;
  opacity: 80%;
  border-bottom: 0.1px solid;
  padding: 1rem 0;
  display: flex;
  align-items: center;
  width: 15rem;
}

#boxing__list-item:first-of-type {
  padding-top: 0;
  margin-top: -1rem;
}

#arrow-in-circle-icon {
  height: 1.1rem;
  padding-right: 0.6rem;
}

#subscribe__heading {
  font-size: 2rem;
  text-align: center;
  margin: 0;
}

#subscribe__text {
  font-size: 0.8rem;
  text-align: center;
  margin-bottom: 8rem;
}

#email-input {
  padding: 1rem;
  width: 80%;
  font-size: 0.8rem;
  opacity: 80%;
  border-radius: 1.5rem;
  border: none;
  position: absolute;
  left: 50%;
  top: 46%;
  transform: translate(-50%);
}

#subscribe-bg {
  padding: 2.6rem 0;
  width: 100%;
  background: #fff4f4;
  border-radius: 7%;
}

#subscribe-button {
  height: 3.3rem;
  width: 90%;
  color: var(--color-white);
  font-size: 1.1rem;
  border-radius: 1.6rem;
  background-color: #ff4948;
  border: none;
  position: absolute;
  left: 50%;
  top: 66%;
  transform: translate(-50%);
}

footer {
  padding: 10% 0;
  background: var(--main-bg-color);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#socials-circle {
  background: var(--color-white);
  height: 2.6rem;
  width: 2.6rem;
  border-radius: 50%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

#socials-circle:not(:last-of-type) {
  margin-right: 1.5rem;
}

#socialmedia-icon {
  z-index: 2;
  height: 1rem;
}

.hidden-on-mobile {
  display: none;
}

#footer__icons-wrapper {
  display: flex;
}

.show {
  display: block;
}

#dropdown-menu {
  background: #000;
  opacity: 80%;
  position: absolute;
  right: 0;
  top: -2.5%;
  width: 60%;
  height: 100vh;
  list-style: none;
  z-index: 1;
  padding: 2rem;
  padding-top: 1rem;
  line-height: 3rem;
  text-align: right;
}

#dropdown-menu-item {
  text-decoration: underline;
  font-size: 2rem;
  padding-top: 3%;
  color: #fff;
}

#cross-icon {
  height: 1rem;
}

#cross-button {
  background: none;
  border: none;
}

.swiper-slide-active #slide-product {
  box-shadow: 0px 1px 20px 0px rgba(126, 118, 118, 0.2);
  background-color: #fff;
  border-radius: 1rem;
}

#slide-product {
  height: 7rem;
}

.slider-container {
  position: relative;
  max-width: 80%;
  left: 50%;
  transform: translate(-50%);
}

.slide-prev,
.slide-next {
  position: absolute;
  top: 45%;
  z-index: 1;
  height: 1.5rem;
}

.slide-next {
  right: -10%;
}

.slide-prev {
  left: -10%;
}

.swiper-slide-active .slide {
  transform: scale(1.5);
}

.slide {
  margin: 20% 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 350px) {
  #slide-product {
    height: 10rem;
  }

  .slide {
    margin: 40% 0;
  }
}

@media screen and (min-width: 768px) {
  .hidden-on-desktop {
    display: none;
  }

  #hidden-on-desktop {
    display: none;
  }

  html {
    font-size: 0.5rem;
  }

  #logo {
    height: 6rem;
  }

  header {
    padding: 3% 15%;
  }

  #header__icons-wrapper {
    display: flex;
  }

  #header__devider {
    background-color: var(--color-white);
    height: 5rem;
    width: 0.1rem;
    margin-right: 3rem;
  }

  #red-headphone {
    margin-right: 10rem;
    margin-top: 0;
    position: static;
    transform: translate(0);
    height: auto;
    max-width: 50%;
  }

  #product-section,
  #feature-section,
  #colour-section,
  #boxing-section,
  #subscribe-section {
    background: var(--color-white);
    padding: 4% 10%;
  }

  #hero-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3% 10% 8%;
  }

  #hero__heading {
    font-size: 13rem;
    margin: 0;
  }

  #hero__text {
    margin: 0;
    font-size: 3rem;
  }

  #hero__text-wrapper {
    position: relative;
  }

  #hero__button {
    width: 25rem;
    height: 7rem;
    color: var(--color-red);
    font-size: 3rem;
    font-weight: 500;
    text-transform: uppercase;
    border-radius: 5rem;
    background-color: var(--color-white);
    border: none;
    position: static;
    transform: translate(0, 20%);
  }

  #hero__prices-wrapper {
    margin: 2rem 0;
  }

  #hero__price {
    font-size: 5rem;
    margin-bottom: 0;
  }

  #hero__crossed-price {
    font-size: 4rem;
    margin-bottom: 0;
  }

  #devider {
    height: 7rem;
    margin-bottom: 0;
    width: 0.4rem;
  }

  #colour__heading,
  #product__heading,
  #feature__heading {
    font-size: 7rem;
    font-weight: 600;
  }

  #feature-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  #yellow-headphone {
    height: 70rem;
    position: static;
    transform: translate(0);
  }

  #feature-icon {
    height: 15rem;
    margin-right: 3rem;
  }

  #feature__title {
    font-size: 4rem;
  }

  #feature__text,
  #feature__link {
    font-size: 2rem;
  }

  #feature-content {
    max-width: 50%;
  }

  #product__text {
    max-width: 70%;
    font-size: 3rem;
    transform: translate(20%);
  }

  #product__heading {
    font-weight: 700;
    margin-bottom: 0;
  }

  #product-bg {
    height: 35rem;
    width: 35rem;
    margin-top: 10rem;
  }

  #product-bg::after {
    width: 5.5rem;
    height: 5.3rem;
  }

  #product-bg::before {
    width: 8rem;
    height: 8rem;
    background-size: 4rem;
    right: -9.5%;
    top: -10%;
  }

  #product-line {
    display: flex;
    justify-content: space-evenly;
  }

  #product-name,
  #product-price {
    font-size: 2.5rem;
  }

  #product-rating {
    font-size: 2rem;
  }

  #star-icon {
    height: 2.5rem;
  }

  #product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #product-rating {
    padding-left: 10rem;
  }

  #product-name {
    padding-right: 8rem;
  }

  #backpack-image {
    position: static;
    transform: translate(0);
    height: auto;
    max-width: 50%;
  }

  #boxing-content {
    display: block;
  }

  #boxing-section {
    display: flex;
    align-items: center;
  }

  #boxing__list-item {
    width: 70%;
    font-size: 3rem;
    padding: 5% 0;
  }

  #boxing__list {
    padding-top: 5rem;
  }

  #arrow-in-circle-icon {
    height: 3rem;
    margin-right: 2rem;
  }

  #boxing__heading {
    font-size: 7.5rem;
    font-weight: 600;
    margin-top: 0;
  }

  #subscribe-bg {
    max-width: 70%;
    transform: translateX(25%);
    border-radius: 2rem;
  }

  #email-input {
    width: 70%;
    padding: 2.5rem;
    font-size: 2.5rem;
    border-radius: 10rem;
    position: relative;
  }

  #subscribe-button {
    width: 24%;
    position: absolute;
    border-radius: 10rem;
    height: 8.7rem;
    top: 66%;
    transform: translate(70%);
    font-size: 2rem;
  }

  #subscribe__heading {
    font-size: 7rem;
  }

  #subscribe__text {
    margin-bottom: 5rem;
    font-size: 3rem;
  }

  footer {
    padding: 4% 10%;
    background: var(--main-bg-color);
    justify-content: space-between;
  }

  #socialmedia-icon {
    height: 2rem;
  }

  #socials-circle {
    height: 5rem;
    width: 5rem;
  }

  #socials-circle:not(:last-of-type) {
    margin-right: 3rem;
  }

  #footer__icons-wrapper {
    display: flex;
  }

  #footer__menu-item {
    color: var(--color-white);
    font-size: 2.5rem;
    text-decoration: none;
    font-weight: 500;
  }

  #footer__menu-item:not(:last-of-type) {
    margin-right: 3rem;
  }

  .hidden-footer {
    display: inline;
  }

  #burger-button {
    height: 5rem;
    width: 5rem;
    border: 0.1rem solid;
  }

  #slide-product {
    height: auto;
    max-width: 100%;
    box-shadow: none;
  }

  .slide-prev,
  .slide-next {
    height: 3rem;
  }

  .swiper-slide-active .slide {
    transform: scale(1.5);
    box-shadow: 0px 1px 20px 0px rgba(126, 118, 118, 0.2);
    background-color: #fff;
  }
}

@media screen and (min-width: 768px) and (max-width: 1070px) {
  #product-bg {
    width: 25rem;
    height: 25rem;
  }

  #product-name,
  #product-price {
    font-size: 2rem;
  }

  #product-rating {
    font-size: 1.5rem;
  }

  #star-icon {
    height: 2rem;
  }

  #rating-wrapper,
  #price-wrapper {
    margin-left: 5rem;
  }

  #product-bg::before {
    height: 7rem;
    width: 7rem;
    background-size: 3rem;
  }

  #boxing__heading,
  #hero__heading,
  #colour__heading,
  #feature__heading,
  #product__heading,
  #subscribe__heading {
    font-size: 5rem;
  }

  #subscribe-button {
    height: 8rem;
  }

  .slide {
    margin: 50% 0;
    margin-bottom: 80%;
  }
}

@media screen and (min-width: 768px) and (max-width: 990px) {
  #product-rating {
    padding-left: 3rem;
  }

  #rating-wrapper,
  #price-wrapper {
    margin-left: 0;
  }

  #product-name {
    font-size: 1.5rem;
    padding-right: 2rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1027px) {
  #product-name {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 530px) and (max-width: 768px) {
  #product-bg {
    height: 18rem;
    width: 18rem;
  }

  #product-bg::before {
    top: -7%;
    right: -6%;
  }
}

@media screen and (width: 768px) {
  #product-bg::before {
    height: 5rem;
    width: 5rem;
    right: -11%;
    top: -12%;
    background-size: 2rem;
  }

  #product-bg::after {
    width: 3.5rem;
    height: 3.3rem;
  }
}