html {
  font-size: 0.7rem;
}

main {
  padding: 1rem 1rem;
}

.logo {
  height: 3rem;
}

.play-button {
  height: 3rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  visibility: hidden;
}

header .button {
  visibility: hidden;
}

.burger-menu {
  position: fixed;
  width: 50px;
  height: 64px;
  top: 2rem;
  right: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 8px;
  box-sizing: border-box;
  color: #ada7ff;
  border: none;
}

.burger-menu::before,
.burger-menu::after,
.burger-menu span {
  display: block;
  border-bottom: 4px solid;
  border-radius: 90px;
}

.burger-menu::before,
.burger-menu::after {
  content: "";
}

.title {
  margin-top: -5px;
  font-size: 3.5rem;
  font-weight: 800;
}

.title__description {
  width: 100%;
}

.title b {
  color: #9a93ff;
}

.image-container {
  width: fit-content;
  display: flex;
  position: relative;
}

.image-background {
  height: 18rem;
}

.image-container::before {
  content: "";
  background-image: url(../assets/images/dog-sitting.png);
  position: absolute;
  background-size: cover;
  width: 70%;
  height: 100%;
  top: 5%;
  left: 60%;
  transform: translateX(-50%);
}

.button-adopt {
  background-color: #ada7ff;
  height: 3rem;
  width: 9rem;
  border-radius: 1.8rem;
  border: none;
  color: white;
  width: 10rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 1rem;
}

.button-adopt::after {
  content: url(../assets/images/dog-print.png);
  text-align: center;
}

.video-wrapper {
  display: flex;
  padding-top: 1rem;
}

.watch-video-button {
  display: flex;
  align-items: center;
}

.watch-video-button p {
  color: #ada7ff;
  width: 100%;
  margin-left: 0.7rem;
  font-weight: 600;
}

.watch-video-button img {
  margin-left: 2rem;
}

.achievements {
  display: flex;
  list-style: none;
  padding: 0;
}

.achievements__numbers {
  font-size: 2.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.achievements li:not(:last-of-type) {
  margin-right: 4rem;
}

.achievements__text {
  color: #686868;
}

.cat-image::before {
  background-image: url(../assets/images/cat-lying.png);
  width: 130%;
  height: 130%;
  transform: translate(-48%, -14%);
}

.achievements-wrapper {
  display: flex;
}

.images-block {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  z-index: -1;
  padding-top: 1rem;
}

.cat-image .cat-print-image {
  bottom: 0;
}

.cats,
.dogs {
  display: flex;
  justify-content: space-between;
}

.cats {
  align-items: flex-end;
  transform: translate(0, -60%);
  overflow: hidden;
}

.dogs {
  align-items: flex-start;
}

.title-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
