@media screen and (min-width: 769px) {
  html {
    font-size: 1rem;
  }

  main {
    padding: 2rem 9rem;
  }

  .menu {
    display: flex;
    list-style: none;
    font-weight: 600;
    visibility: visible;
  }

  .menu__item:not(:last-of-type) {
    margin-right: 1.5rem;
  }

  .menu__item:first-of-type {
    color: #9a93ff;
  }

  .burger-menu::before,
  .burger-menu::after,
  .burger-menu span {
    display: none;
    border-bottom: 5px solid;
    border-radius: 90px;
  }

  header .button {
    background-color: #ada7ff;
    height: 3.5rem;
    width: 9rem;
    border-radius: 1.8rem;
    border: none;
    color: white;
    visibility: visible;
  }

  .burger-menu {
    visibility: hidden;
  }

  .hero {
    padding-top: 5rem;
    flex-direction: row;
    align-items: center;
  }

  .title {
    font-size: 4.5rem;
    margin-top: 3rem;
  }

  .title__description {
    width: 52%;
  }

  .images-block {
    flex-direction: column;
    width: 50%;
    position: absolute;
    right: 0;
    z-index: -1;
    padding-top: 2rem;
    margin-right: 4rem;
  }

  .cats,
  .dogs {
    justify-content: space-around;
  }

  .cats {
    align-items: flex-end;
    transform: translate(0, -25%);
  }
}
