body {
    font-size: 16px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    background-image: url("/assets/images/hero-bg.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #000;
    padding: 0;
    margin: 0;
}

.header {
    padding-top: 3%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section {
   padding: 0 100px 200px;
}

footer {
   padding: 0 178px 70px;
}

.main-heading {
    font-size: 50px;
    width: 710px;
    padding-left: 24%;
    display: flex;
    flex-direction: column;
    position: absolute;
    transform: translate(0%, 40%);
}

.menu {
    list-style: none;
    display: flex;
}

li:not(:last-of-type) {
    margin-right: 50px;
}

.hero-section {
    height: 1000px;
    padding: 0 50px;
    background: linear-gradient(332deg, rgba(0, 0, 0, 0) 32%, #000000 110%);
}

.gradient {
    background: linear-gradient(360deg, #000000 0%, rgba(0, 0, 0, 0) 77.78%);
    height:250px;
}

.follow-us {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-items: center;
    position: absolute;
    left: 0;
    transform: translate(60%, 110%);
}

.follow-us p {
    writing-mode: vertical-rl;
    padding-bottom: 20px;
}

.follow-us-icon {
    height: 16px;
}

.follow-us-icon:not(:last-of-type) {
    padding-bottom: 20px;
}

.orange-text {
    letter-spacing: 4px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    color: #FBD784;
    position: absolute;
    transform: translate(0%,50%);
    display: flex;
    align-items: center; 
}

.hero-section .orange-text {
    color:  #FFC178;
}

.rectangle {
    width: 50px;
    height: 1px;
    padding-right: 20px;
}

.main-heading h1 {
    font-weight: 300;
    position: relative
}

.scroll-down {
    font-size: 16px;
    position: absolute;
    transform: translate(260%, 1400%);
    display: flex;
    align-items: center;
}

.arrow {
    height: 20px;
    padding-left: 8px;
}

header p:last-of-type {
    font-size: 14px;
    opacity: 60%;
}

.coolicon {
    height: 12px;
    padding-right: 10px;
}

.holidays, .culture {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.text-of-section{
    width: 510px;
    text-align: left;
    line-height: 30px;
}

h2 {
    font-size: 48px;
    width: 400px;
    line-height: normal;
    margin-top: 80px;
}

.text-of-section p:last-of-type {
    color: #FBD784;
    font-weight: 600;
    display: flex;
    align-items: center;
}

.holidays img, .culture img{
    height: 600px;
}

.holidays .arrow, .steady-steps .arrow, .culture .arrow {
    height: 16px;
    padding-left: 8px;
    color: #FBD784;
}

.holidays .rectangle, .steady-steps .rectangle, .culture .rectangle {
    width: 50px;
    height: 1px;
    padding-right: 20px;
}

.steady-steps {
    position: relative;
    height: 750px;
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 109.55%);
}

.steady-steps .text-of-section {
    text-align: center;
    width: 770px;
    position: absolute;
    left: 50%;
    transform: translate(-50%,84%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.steady-steps h2 {
    width: 600px;
}

.steady-steps img {
    height: 750px;
    width: 77%;
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
}

.steady-steps .slider-arrow {
    height: 20px;
    width: 14px;
    position: absolute;
    transform: translate(3900%, 0);
}

.steady-steps .slider-arrow:last-of-type {
    rotate: 180deg;
    position: absolute;
    transform: translate(3900%, 0);
}

.steady-steps .arrow {
    height: 16px;
    width: 24px;
    padding-left: 128px;
    color: #FBD784;
}

.steady-steps .rectangle {
    padding-left: 180px;
    height: 2px;
}

.steady-steps .rectangle:last-of-type {
    padding-right: 350px;
}

.button {
    background-color: #FFA343;
    height: 60px;
    width: 200px;
    font-weight: 600;
    border-radius: 7px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__qwery {
    font-size: 38px;
}

.wrapper {
    display: flex;
}

.wrapper p {
    padding-right: 60px;
}

.devider {
    width: 100%
}

.offer-text {
    font-size: 30px;
    font-weight: 600;
    width: 340px;
}

.footer-info {
    display: flex;
    justify-content: space-between;
}

.list {
    list-style: none;
    line-height: 40px;
    padding: 40px 40px;
}

.list li:first-child {
    color: #FFD1A0;
    font-weight: 600;
}

.lists {
    display: flex;
}

.Copyright {
    opacity: 50%;
    text-align: center;
    padding-top: 100px;
}

.email-form__input {
    font-size: 18px;
    height: 0px;
    width: 86%;
    border-top: none;
    border-left:none;
    border-right:none;
    border-width: 1px;
    border-bottom-color: #fff;
    opacity: 40%;
    background-color: #000;
    color: #fff;
    padding: 10px 50px 25px 10px;
    padding-top: 40px;
}

.email-form__input::placeholder{
    color: #fff;
}

.email-form button {
    width: 64px;
    height: 64px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    position: absolute;
    transform: translate(450%, -98%);
}

.email-form .slider-arrow {
    color: #000;
}

.footer__policy_wrapper {
    padding-top: 40px;
    display: flex;
}

.footer__policy {
    font-size: 12px;
}

.footer__policy:first-child {
    padding-left: 40px;
    padding-right: 100px;
}

footer .icon {
    padding-right: 40px;
    height: 20px;
}

.footer__last-line-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
}