.footer__menu {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  padding: 0;
}

.footer__menu__item:not(:last-of-type) {
  padding-right: 70px;
}

.footer__menu__item {
  font-weight: 300;
}

.footer {
  position: absolute;
  bottom: 1%;
}

@media screen and (max-width: 670px) {
  .footer__menu__item:not(:last-of-type) {
    padding-right: 30px;
  }
}
