.header__menu__item:not(:last-of-type) {
  padding-right: 50px;
}

.header__menu__item,
.header__logo-text {
  font-size: 24px;
  font-weight: 300;
  color: #fff;
  text-decoration: none;
}

.header__menu__item:first-child {
  margin-left: 30px;
}

.header__menu {
  list-style: none;
  display: flex;
}

.header__logo-icon {
  height: 75px;
  width: 75px;
}

.header {
  display: flex;
  align-items: center;
  z-index: 1;
}

.logo {
  display: flex;
  align-items: center;
  position: relative;
}

.header__logo-text {
  position: absolute;
  left: 40%;
  font-size: 30px;
}

@media screen and (max-width: 540px) {
  .header__menu__item:not(:last-of-type) {
    padding-right: 10px;
  }

  .header__menu__item {
    font-size: 18px;
  }

  .header__logo-icon {
    height: 50px;
    width: 50px;
  }

  .header__logo-text {
    font-size: 20px;
  }
}
