.main-content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}

.main__title {
  font-size: 80px;
  font-weight: 400;
  margin: 0;
}

.main__title__description {
  font-size: 24px;
  margin: 10px 0;
  font-weight: 300;
}

.hidden {
  display: none;
}

.purple-button {
  border: none;
  background-color: #5e659d;
  color: #fff;
  height: 50px;
  width: 180px;
  font-size: 24px;
  border-radius: 5px;
  margin-top: 20px;
}

.homePage__girl-image {
  height: 100vh;
  position: absolute;
  left: 40%;
  bottom: 0.1%;
}

.signUp__girl-image {
  height: 90vh;
  position: absolute;
  left: 130%;
  bottom: -65%;
  margin-top: 3.5%;
  padding-left: 20%;
}

.hidden {
  display: none;
}

.discover__button:not(:last-of-type) {
  margin-right: 60px;
}

.discover__button {
  height: 64px;
  width: 150px;
  border-radius: 15px;
  font-size: 28px;
}

.discover__title {
  font-size: 70px;
  font-weight: 400;
  margin-bottom: 80px;
}

.discover__description {
  font-size: 18px;
  font-weight: 300;
  margin-top: 80px;
}

.discover__image {
  height: 360px;
  position: absolute;
  left: 66%;
  bottom: 20%;
}

.registration-form {
  display: flex;
  flex-direction: column;
  width: 440px;
  padding: 30px;
  background-color: #5e659d;
  border-radius: 14px;
}

.registration-form label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  padding-right: 10px;
}

.registration-form label:not(:last-of-type) {
  margin-bottom: 30px;
}

.registration-form input {
  width: 70%;
  padding: 6px;
  border-radius: 12px;
  border: 3px solid;
  border-color: #dbac74;
}

.signUp__main-content {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 756px) {
  .main__title {
    font-size: 60px;
  }

  .main__title__description {
    font-size: 18px;
  }

  .discover__title {
    font-size: 44px;
    margin-bottom: 40px;
  }

  .discover__description {
    font-size: 12px;
    margin-top: 40px;
  }

  .discover__button:not(:last-of-type) {
    margin-right: 30px;
  }

  .discover__button {
    width: 120px;
    font-size: 24px;
  }

  .registration-form {
    width: 360px;
  }

  .registration-form label {
    font-size: 16px;
  }

  .homePage__girl-image {
    display: none;
  }

  .discover__image {
    display: none;
  }

  .signUp__girl-image {
    display: none;
  }
}
